<h4 class="blue-grey-text text-lighten-4 center">We have the highest caffeine levels allowed by Federal Law</h4>
<% @beverages.each do |elem| %>
    <div class="col s12 m4">
      <div class="card medium">
        <div class="card-image">
            <img src="<%= elem.src %>">
            </div>
                <div class="card-content center">
                    <h4><%= elem.name %></h4>
                    <h6><%= elem.description %></h6>
                    <p><%=elem.price %></p>
                </div>
            </div>
        </div>
<% end %>