<div class="row">
    <div class="col s12">
    <h4 class="blue-grey-text center"> We are a small, family run, vegan bakery in an indeterminate location due to shifting social geography.</h4>
    <h4 class="blue-grey-text center">Please leave your name and email below to see a full catalog of this season's current offerings.</h4>
    </div>
</div>
<div class="row">
    <form class="col s12" method="POST" action="/contact">
      <div class="row">
        <div class="input-field col s3">
          <input id="first_name" name="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s3">
          <input id="last_name" type="text" name="last_name" class="validate">
          <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" name="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <input type="submit" class="waves-effect waves-light btn-large center amber darken-1 white-text" value="Submit">
    </form>
  </div>