<% @cookies.each do |elem| %>
    <div class="col s12 m6 l4">
      <div class="card medium">
        <div class="card-image">
            <img src="<%= elem.src %>">
            </div>
                <div class="card-content center">
                    <h4><%= elem.name %></h4>
                    <h6><%= elem.description %></h6>
                    <p><%=elem.price %></p>
                </div>
            </div>
        </div>
<% end %>