<% @cookies.each do |elem| %>
    <div class="col s12 m6 l4">
      <div class="card medium">
        <div class="card-image">
            <img src="<%= elem.src %>">
            </div>
                <div class="card-content">
                    <h6><%= elem.name %></h6>
                    <p><%= elem.description %></p>
                    <p><%=elem.price %></p>
                </div>
            </div>
        </div>
<% end %>