<h4 class="blue-grey-text text-lighten-4 center">We offer a wide variety of cake and pie options to suit your sweet tooth!</h4>
<% @cakes.each do |elem| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
            <img src="<%= elem.src %>">
            </div>
                <div class="card-content">
                    <h6><%= elem.name %></h6>
                    <p><%= elem.description %></p>
                    <p><%=elem.price %></p>
                </div>
            </div>
        </div>
<% end %>