<div class="row">
    <div class="col s12 m6 l3">
    <a href="cookies">
      <div class="card medium">
        <div class="card-image">
          <img src="/photos/sugar_cook.jpeg">
          <span class="card-title">Cookies</span>
        </div>
        <div class="card-content">
          <p>Cookies, because, cookies.</p>
        </div>
      </div>
    </div>
    </a>
     <div class="col s12 m6 l3">
     <a href="cupcakes">
      <div class="card medium">
        <div class="card-image">
          <img src="/photos/cup_cake_card.jpeg">
          <span class="card-title">Cupcakes</span>
        </div>
        <div class="card-content">
          <p>Cupcakes, for when you need a handheld cake on the go.</p>
        </div>
      </div>
    </div>
    </a>
    <div class="col s12 m6 l3">
    <a href="muffins">
      <div class="card medium">
        <div class="card-image">
          <img src="/photos/muffins.jpeg">
          <span class="card-title">Muffins</span>
        </div>
        <div class="card-content">
          <p>Muffins are the perfect breakfast pastry for those trying to dial back the sweet tooth.</p>
        </div>
      </div>
    </div>
    </a>
    <div class="col s12 m6 l3">
    <a href="custom">
      <div class="card medium">
        <div class="card-image">
          <img src="/photos/coffee_cheese_cake.jpeg">
          <span class="card-title ">Custom Orders</span>
        </div>
        <div class="card-content">
          <p>We make a wide variety of custom cakes for weddings, parties, or just good-ass days. We also have seasonal fruit for custom pies for all occassions.</p>
        </div>
      </div>
    </div>
    </a>
  </div>
  