<div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="/photos/sugar_cook.jpeg">
          <span class="card-title">Cookies</span>
          <a class="btn-floating halfway-fab waves-effect waves-light blue darken-3" href="cookies"><i class="material-icons">call_made</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
     <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="/photos/cup_cake_card.jpeg">
          <span class="card-title">Cupcakes</span>
          <a class="btn-floating halfway-fab waves-effect waves-light blue darken-3" href="cupcakes"><i class="material-icons">call_made</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="/photos/muffins.jpeg">
          <span class="card-title">Muffins</span>
          <a class="btn-floating halfway-fab waves-effect waves-light blue darken-3" href="muffins"><i class="material-icons">call_made</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="/photos/coffee_cheese_cake.jpeg">
          <span class="card-title ">Custom Orders</span>
          <a class="btn-floating halfway-fab waves-effect waves-light blue darken-3" href="custom"><i class="material-icons">call_made</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
  