
   <div class="row">
      <div class="col s12 center ">
        <a href="/home">
         <img class="col s12 center responsive-img" src="/photos/storefront_2.png">
        </a>
      </div>
    </div>


