
   <div class="row">
      <div class="col s12 center">
      <h1> Pavilion Bakery </h1>
      </div>
      <div class="col s12 center ">
        <a href="/home">
         <img class="col s12 center responsive-img" src="/photos/storefront.jpeg">
        </a>
      </div>
    </div>


