
   <div class="row">
      <div class="col s12 center">
      <h2> Pavilion Bakery </h2>
      </div>
      <div class="col s12 center">
      <img src="/photos/storefront.jpeg">
      </div>
      <div class="col s12 center">
      <div class="container"><a id="enter" class="waves-effect waves-light btn-large center amber darken-1" href="/home"><h5>Enter The Shop!</h5></a>
      </div>
    </div>


