<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Bakery</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav>
    <div class="nav-wrapper amber darken-1">
      <a href="/home" class="brand-logo right">Bakery</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/cookies">Cookies</a></li>
        <li><a href="/cupcakes">Cupcakes</a></li>
        <li><a href="/muffins">Muffins</a></li>
      </ul>
    </div>
  </nav>
  <main>
<%= yield %>
</main>
<footer class="page-footer amber darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Thank you for choosing our bakery!</h5>
                <p class="grey-text text-lighten-4">We hand craft all of our pastries with local, organic ingredients every morning.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Follow Us!</h5>
                <div class="row">
                    <div class="col s3">
                        <a href="#"><img src="/photos/if_facebook-01-01_3066961.svg" class="social"></a>
                    </div>
                    <div class="col s3">
                        <a href="#"><img src="/photos/if_instagram-01-01_3066990.svg" class="social"></a>
                    </div>
                    <div class="col s3">
                        <a href="#"><img src="/photos/if_twitter-01-01_3066980.svg" class="social"></a>
                    </div>
                    <div class="col s3">
                        <a href="#"><img src="/photos/if_mail-01-01_3066965.svg" class="social"></a>
                    </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Bakery
            <a class="grey-text text-lighten-4 right" href="#!">Vegan Bakery Collective</a>
            </div>
          </div>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>