<div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
            <img src="/photos/corn_muff.jpeg">
            </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
<div class="col s12 m4">
      <div class="card">
        <div class="card-image">
            <img src="/photos/cherry_muff.jpeg">
            </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
            <img src="/photos/blueb_muff.png">
            </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


