body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
    font-size: 1 em;
}

main {
    flex: 1 0 auto;
}

.social {
    width: 100%;
}

#enter {
    font-size: 3em;
}

.btn-large {
    font-size: 30px;
}

.banner {
    width: 100%;
}

.landing {
    width: 100%;
}


/* font-family: 'Amatic SC', cursive; */